<div class="row">
    <div class="col-6">
        <input [(ngModel)]="searchText" type="text" class="formcontrol" placeholder="Type to filter">
    </div>
</div>
<hr>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Identificación</th>
            <th scope="col">Nombre </th>
            <th scope="col">Apellidos</th>
            <th scope="col">Hotel</th>
            <th scope="col">Fecha Hospedaje</th>
            <th scope="col">Temporada</th>
            <th scope="col">Valor</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let persona of personas; index as i ">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ persona.identificacion }} </td>
            <td>{{ persona.nombre }}</td>
            <td>{{persona.apellidos }}</td>
            <td>{{ persona.hotel}}</td>
            <td>{{ persona.fechaHospedaje }}</td>
            <td>{{ persona.temporada }}</td>
            <td>{{ persona.valor }}</td>
        </tr>
    </tbody>
</table>