<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2>Registro de Personas</h2>
            <form>
                <div class="form-group">
                    <label>Identificacion</label>
                    <input type="number" name="identificacion" [(ngModel)]="persona.identificacion"
                        class="form-control" />
                </div>
                <div class="form-group">
                    <label>Nombre</label>
                    <input type="text" name="nombre" [(ngModel)]="persona.nombre" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Apellidos</label>
                    <input type="text" name="apellidos" [(ngModel)]="persona.apellidos" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Hotel</label>
                <!--    <input type="text" name="sexo" [(ngModel)]="persona.hotel" class="form-control" /> -->
                    <select class="form-select" aria-label="Default select example" name="hotel"
                        [(ngModel)]="persona.hotel" class="form-control">
                    
                        <option value="BuenaVista">HOTEL BUENAVISTA</option>
                        <option value="BalcondelCesar">HOTEL BALCON DEL CESAR</option>
                        <option value="Chimila">HOTEL CHIMILA </option>
                    </select>
                </div>

                <div class="form-group">
                    <label>Fecha Hospedaje</label>
                    <input type="date" name="fechaHospedaje" [(ngModel)]="persona.fechaHospedaje" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Temporada</label>
                    <input type="text" name="temporada" [(ngModel)]="persona.temporada" class="form-control" disabled />
                </div>
                <div class="form-group">
                    <label>Valor</label>
                    <input type="number" name="valor" [(ngModel)]="persona.valor" class="form-control" disabled />
                </div>
                <div class="text-center">
                    <button class="btn btn-success mr-1" (click)="add()">Registrar</button>
                    <button class="btn btn-secondary" type="reset">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>